#encabezado {
		background-color: #00FFD4;
		color: black;
		padding: 40px;
		text-align: center;
		}
		 {margin:0; padding:0; border:0;}
		 html, body {
			 width: auto;
			 height: 100%;
			 font-family:Time News Roman, verdana, Time News Roman;
			 font-weight:bold;background-color:#00041C;
			 }
			 
		header{
			position:relative;
			background-color:dark red;
			color:#FFF;width:98%;height:13%;margin: 0px auto;
			}
			
			section{
				position:relative;
				float:left;
				background-color:#black;
				width:70%;
				height:70%;
				color:#FFF;
				}
				article{
					background-color: #2F80D2;
					width:100%;
					height:58%;
					color:#FFFF;
					}
					aside{
						font-family: Time News Roman;
						position:relative;
						background-color:#00FFD4;
						width:30%;height:120%;
						color:black;float:left;
						}
						footer{
							position:relative; 
							background-color:#102B46;
							width:98%;
							height:5%;
							color:#FFF;
							clear:both;}
							header,section,footer,aside,article,nav
							{
								margin:1%;
								}

								
ul {
	list-style-type:none;
 }
	#all-menu {
width:50%;
height: 68px;
background-color:black;
}
	#menu li a{
font-family:Time News Roman;
font-size:20px;
float:left;
padding:24px;
background-color:black;
color: #fff;
text-decoration:none;
height:18px;
}
	#menu li a:hover{
background-color:#65FF07;
margin-top:-2px;
font-weight:bold;
	}